.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.divide {
    margin: 2rem 0;
    padding: 0.5rem;
    border: 1px solid rgba(90, 90, 90, 8);
    border-radius: 8px;
}
